<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="تیم برنامه نویسی عرش,Arsh programing group">
    <meta name="theme-color" content="#14d234"/>
    <title>ArshTeam|تیم برنامه نویسی عرش</title>
    <link rel="manifest" href="assets/manifest.json">
    <link rel="icon" href="assets/img/fanavardLogo.png">
    <link rel="shortcut icon" href="assets/img/fanavardLogo.png">
    <meta property="og:image" content="http://jrjs.ir/public/Image/fanavardLogo.png"/>
    <meta property="og:title" content="پروژه مرحله حضوری مسابقات فن آورد"/>
    <meta property="og:site_name" content="گروه برنامه نویسی عرش"/>
    <meta property="og:url" content="http://jrjs.ir"/>
</head>

<body>
<link rel="stylesheet" href="assets/css/app/tetris.css">
<link rel="stylesheet" href="assets/css/Icons/linerIcons.css">
<!-- Main holder of every thing -->
<div id="container"></div>

<!-- Add Main Project script -->
<!--<script type="application/javascript" src="dist/main.js"></script>-->

<!-- web worker timing content @type="javascript/worker" -->
<script id="workerTiming" type="javascript/worker">
        var pause_flag = false;
        let i = 0;
        let timedCount = function() {
            if (!pause_flag) {
                i = i+1;
            }
            postMessage(i);
            setTimeout("timedCount()", 1000);
        }
        timedCount();

        onmessage = function(event) {
            if ('pause_flag' in event.data) {
                pause_flag = event.data['pause_flag'];
            }
        };
    </script>
</body>
</html>
