#gameHolder{
    background: #f6f6f6;
    padding: 8px;
    box-shadow: 0 25px 20px -21px rgba(153, 153, 153, 0.3);
    border-radius: 10px !important;
    position: relative;
    width: 800px;
    right: 50%;
    margin-right: -400px;
    margin-top: 20px ;
}


#gameHolder .playBoard{
    width: 75%;
    display: inline-block;
    background: #fff;
    padding: 3px;
    height: 460px;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#gameHolder .playBoard .charBlock {
    width: 40px;
    height: 40px;
    background: #d17070;
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    margin:0.00001rem;
    color: #fff !important;
}


#gameHolder .behindPlayBoard{
    position: absolute;
    left:0;
    width: 24%;
    height: 100%;
}

#gameHolder .behindPlayBoard .courseArea {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    position: absolute;

    left: 14px;
    bottom: 12px;
}

#gameHolder .behindPlayBoard .showUpComingLetter{
    background: #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 140px;
    left: 31px;
    top: 35px;
    text-align: center;
    height: 150px;
    font-size: 44px;
    line-height: 135px;
    color: #314e81;
    position: absolute;
}
#gameHolder .behindPlayBoard .showUpComingLetter::before {
    content: attr(title);
    font-size: 12px;
    top: -75px;
    position: absolute;
    right: 0;
}


#gameHolder .behindPlayBoard .gameControlButtons{
    left: 0;
    top: 220px;
    text-align: center;
    width: 100%;
    position: relative;
}

#gameHolder .behindPlayBoard .gameControlButtons > div{
    display: inline-block;
    border: none;
    padding: 6px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px !important;
    position: relative;
    font-size: 14px;
    margin: 1px !important;
}

#gameHolder .behindPlayBoard .gameControlButtons .startGame{
    background: #37c328;

}
#gameHolder .behindPlayBoard .gameControlButtons .pauseGame{
    background: #c3450e;
    padding: 5px 9px;
    font-size: 13px;
}

.hide{
    display: none;
}

