.gameHolder{
    background: #f6f6f6;
    padding: 8px;
    box-shadow: 0 25px 20px -21px rgba(153, 153, 153, 0.3);
    border-radius: 10px !important;
    position: relative;
    width: 800px;
    right: 50%;
    margin-right: -400px;
    margin-top: 20px ;
}


.gameHolder .playBoard{
    width: 75%;
    display: inline-block;
    background: #fff;
    padding: 3px;
    height: 460px;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.gameHolder .playBoard .emptyPlayBoard{
    font-size: 17px;
    color: rgba(186, 183, 183, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.gameHolder .playBoard .charBlock {
    border-radius: 5px;
    text-align: center;
    color: #fff !important;
    position: absolute;
    width: 99%;
    height: 99%;
    line-height: 44px;
    left:0;
    top:0;
}

.gameHolder .playBoard .isRow{
    height: 40px;
    margin-bottom:1px;
}


.gameHolder .playBoard .isColumn{
    position: relative;
    display: inline-block;
    height:100%;
}

.gameHolder .playBoard.is6Column .isColumn{
    width: 16.66%;
}
.gameHolder .playBoard.is8Column .isColumn{
    width: 12.5%;
}
.gameHolder .playBoard.is10Column .isColumn {
    width: 10%;
}
.gameHolder .playBoard.is12Column .isColumn {
    width: 8.33%;
}




.gameHolder .behindPlayBoard{
    position: absolute;
    left:0;
    width: 24%;
    height: 100%;
}

.gameHolder .behindPlayBoard .courseArea {
    display: inline-block;
    font-size: 14px;
    text-align: right;
    position: absolute;
    left: 0;
    bottom: 19px;
    width: 100%;
}

.gameHolder .behindPlayBoard .courseArea div {
    margin-top:2px
}

.gameHolder .behindPlayBoard .courseArea .linearicon{
    position: relative;
    bottom: -2px;
}

.gameHolder .behindPlayBoard .showUpComingLetter{
    background: #ffffff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 140px;
    left: 31px;
    top: 35px;
    text-align: center;
    height: 150px;
    font-size: 44px;
    line-height: 135px;
    color: #314e81;
    position: absolute;
}
.gameHolder .behindPlayBoard .showUpComingLetter::before {
    content: attr(title);
    font-size: 12px;
    top: -75px;
    position: absolute;
    right: 0;
}


.gameHolder .behindPlayBoard .gameControlButtons{
    left: 0;
    top: 220px;
    text-align: center;
    width: 100%;
    position: relative;
}

.gameHolder .behindPlayBoard .gameControlButtons > div{
    display: inline-block;
    border: none;
    padding: 6px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px !important;
    position: relative;
    font-size: 14px;
    margin: 1px !important;
    background: #6180ff;
}

.gameHolder .behindPlayBoard .gameControlButtons .startGame{
    background: #37c328;

}
.gameHolder .behindPlayBoard .gameControlButtons .pauseGame{
    background: #c3450e;
    font-size: 13px;
}


/* For ltr */
.gameHolder.isLtr{direction: ltr;}
.gameHolder.isLtr .behindPlayBoard .showUpComingLetter::before {left: -10px;}
.gameHolder.isLtr .behindPlayBoard .courseArea {text-align: left;margin-left:5px}

.hide{
    display: none;
}

