@charset "utf-8";
@font-face {
    font-family: 'SDF';
    src: url(Fonts/IRANSansLight.woff) format("woff"), url(Fonts/IRANSansLight.ttf) format("truetype");
    font-weight: 400
}

@font-face {
    font-family: 'SDF';
    src: url(Fonts/IRANSansMedium.woff) format("woff"), url(Fonts/IRANSansMedium.ttf) format("truetype");
    font-weight: 700
}

@font-face {
    font-family: 'BYekan';
    src: url(Fonts/BYekan.eot) format("eot"), url(Fonts/BYekan.woff) format("woff"), url(Fonts/BYekan.ttf) format("truetype")
}

body {
    margin: 0 0 40px;
    font-family: 'BYekan', 'SDF', 'Tahoma', sans-serif;
    font-weight: 200;
    color: #666;
}

.byekan, fieldset, legend, strong, .btn, .smalltext, table, .tooltip {
    font-family: 'BYekan', 'SDF', 'Tahoma', sans-serif
}

.sdf {
    font-family: 'SDF', 'BYekan', 'Tahoma', sans-serif
}

.Roboto {
    font-family: 'Roboto', 'Tahoma', sans-serif
}

body {
    overflow-x: hidden
}

a {
    color: #5b57ef;
    text-decoration: none;
}

#container {
    direction: rtl;
    text-align: right;
    background: #fff;
}

.content{
    position: relative;
    border-radius: 20px !important;
    padding: 10px 10%;
}

#topContainer .parallax {
    position: relative;
    padding: 5em 0;
    text-align: center;
    color: #fff !important;
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page-footer div {
    text-align: center;
    font-size: 14px;
    margin-top: 40px;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}


.tabContent {
    padding: 15px 12px;
    background: #f1f1f1;
}

i.valign {
    vertical-align: middle
}

.parallax-container {
    min-height: 220px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.easeMe {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 10px 0 30px 0;
    background-color: transparent !important;
    text-align: center;
}

footer.page-footer i {
    font-size: 18px;
    position: relative;
    bottom: -3px;
    margin-left: 5px;
}

.messageBottom {
    margin-top: 15px;
    font-size: 14px;
}

h3{
    font-weight: normal;
    font-size: 15px;
}


.btnEnterProject{display: inline-block;
    background: #37c328;
    border: none;
    padding: 8px 38px 8px 17px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px !important;
    position: relative;}
.btnEnterProject .linearicon{
    font-size: 37px;
    position: absolute;
    right: -5px;
    color: rgba(255,255,255,.5);
    transform: rotate(16deg);
    top: 0;
}

svg{transition:all .9s ease-in-out,width .01s ease-in-out;max-width:100%!important;-webkit-filter:drop-shadow(-1px 7px 5px rgba(0,0,0,0.4));filter:drop-shadow(-1px 7px 5px rgba(0,0,0,0.4))}
svg :not(.doNotUnfill){stroke:currentColor}
.bloc{text-align:center;border-radius:6rem 0 6rem 6rem;padding:30px 40px 20px;position:relative}
.spinner{width:50px;height:50px;margin:0;background-color:#191787;border-radius:100%;-webkit-animation:sk-scaleout 1s infinite ease-in-out;animation:sk-scaleout 1s infinite ease-in-out;position:relative;bottom:-26px;right:-24px}


#jafarRezaeiAnimate{fill-opacity:0;width:100%;stroke-width:1}
#jafarRezaeiAnimate.finished{fill-opacity:1;stroke-width:0;-webkit-filter:drop-shadow(-1px 7px 3px rgba(0,0,0,0.2));filter:drop-shadow(-1px 7px 3px rgba(0,0,0,0.2))}
#jafarRezaeiAnimate.finished *{color:rgba(255,255,255,0.4)}
@-webkit-keyframes sk-scaleout {
    0%{-webkit-transform:scale(0)}
    50%{-webkit-transform:scale(0.3);opacity:70}
    100%{-webkit-transform:scale(1.0);opacity:0}
}
@keyframes sk-scaleout {
    0%{-webkit-transform:scale(0);transform:scale(0)}
    50%{-webkit-transform:scale(0.3);transform:scale(0.3);opacity:70}
    100%{-webkit-transform:scale(1.0);transform:scale(1.0);opacity:0}
}