
.icon-one:before { content: '\e800'; } /* '' */
.icon-two:before { content: '\e801'; } /* '' */
.icon-three:before { content: '\e802'; } /* '' */
.icon-uniE685:before { content: '\e803'; } /* '' */
.icon-bil:before { content: '\e804'; } /* '' */
.icon-upDown:before { content: '\e805'; } /* '' */
.icon-fish:before { content: '\e806'; } /* '' */
.icon-albalo:before { content: '\e807'; } /* '' */
.icon-swipeLR:before { content: '\e808'; } /* '' */
.icon-swipeTD:before { content: '\e809'; } /* '' */
.icon-packMan:before { content: '\e80a'; } /* '' */
.icon-brain:before { content: '\e80b'; } /* '' */
.icon-hover:before { content: '\e80c'; } /* '' */
.icon-skelete:before { content: '\e80d'; } /* '' */
.icon-jorab:before { content: '\e80e'; } /* '' */
.icon-jam:before { content: '\e80f'; } /* '' */
.icon-number1:before { content: '\e810'; } /* '' */
.icon-number2:before { content: '\e811'; } /* '' */
.icon-number3:before { content: '\e812'; } /* '' */
.icon-sound1:before { content: '\e813'; } /* '' */
.icon-sound2:before { content: '\e814'; } /* '' */
.icon-brush:before { content: '\e815'; } /* '' */
.icon-money:before { content: '\e816'; } /* '' */
.icon-clock:before { content: '\e817'; } /* '' */
.icon-setting:before { content: '\e818'; } /* '' */
.icon-borders:before { content: '\e819'; } /* '' */
.icon-sibil:before { content: '\e81a'; } /* '' */
.icon-responsive:before { content: '\e81b'; } /* '' */
.icon-keyBoard:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-close:before { content: '\e81e'; } /* '' */
.icon-bug:before { content: '\e81f'; } /* '' */
.icon-magic:before { content: '\e820'; } /* '' */
.icon-uniE95A:before { content: '\e821'; } /* '' */
.icon-uniE959:before { content: '\e822'; } /* '' */
.icon-uniE790:before { content: '\e823'; } /* '' */
.icon-notVibrate:before { content: '\e824'; } /* '' */
.icon-vibrate:before { content: '\e825'; } /* '' */
.icon-uniE7BE:before { content: '\e826'; } /* '' */
.icon-uniE7BC:before { content: '\e827'; } /* '' */
.icon-gem:before { content: '\e828'; } /* '' */
.icon-coffee:before { content: '\e829'; } /* '' */
.icon-leftRight:before { content: '\e82d'; } /* '' */
.icon-hasSound:before { content: '\e82e'; } /* '' */
.icon-colorPelete:before { content: '\e82f'; } /* '' */
.icon-notSound:before { content: '\e830'; } /* '' */
.icon-mobile:before { content: '\e831'; } /* '' */
.icon-chimistry:before { content: '\e832'; } /* '' */
.icon-desktop:before { content: '\e833'; } /* '' */
.icon-abnabat:before { content: '\e834'; } /* '' */
.icon-star:before { content: '\e835'; } /* '' */
.icon-starHalf:before { content: '\e836'; } /* '' */
.icon-sun:before { content: '\e837'; } /* '' */